<h1>映画検索結果</h1>

<div>
  <b><%= @keyword %></b> で検索した結果
</div>
<br>

<%= paginate @movies, :window => 4, :outer_window => 2 %>

<% if @movies.empty? %>
  ヒットした映画はありません
<% else %>
  <%= render 'shared/movie_list' %>
<% end %>
